<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
    <title>{{ title }} - PhamDB</title>
    {% else %}
    <title>PhamDB</title>
    {% endif %}

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <script src="/static/js/lodash.min.js"></script>
    <script src="/static/js/react-with-addons.min.js"></script>
    <script src="/static/js/JSXTransformer.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  	<nav class="navbar navbar-default navbar-fixed-top">
  	  <div class="container">
  	    <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
  	      <a class="navbar-brand" href="/">PhamDB</a>
  	    </div>
  	    <div id="navbar" class="navbar-collapse collapse">
  	      <ul class="nav navbar-nav">
  	      	{% for item in navbar if not item.right_side %}
  	      	<li {% if item.active %} class="active" {% endif %} >
  	      		<a href="{{ item.url }}">
  	      			{{ item.title }}
  	      			{%if item.info %}
  	      			<span class="badge">{{ item.info }}</span>
  	      			{% endif %}
  	      			{%if item.success %}
  	      			<span class="badge badge-success">{{ item.success }}</span>
  	      			{% endif %}
  	      			{%if item.error %}
  	      			<span class="badge badge-error">{{ item.error }}</span>
  	      			{% endif %}
  	      		</a>
  	      	</li>
  	      	{% endfor %}
  	      </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="https://github.com/jglamine/phamdb" target="_blank">Help</a>
            </li>
            {% for item in navbar if item.right_side %}
            <li {% if item.active %} class="active" {% endif %} >
              <a href="{{ item.url }}">
                {{ item.title }}
                {%if item.info %}
                <span class="badge">{{ item.info }}</span>
                {% endif %}
                {%if item.success %}
                <span class="badge badge-success">{{ item.success }}</span>
                {% endif %}
                {%if item.error %}
                <span class="badge badge-error">{{ item.error }}</span>
                {% endif %}
              </a>
            </li>
            {% endfor %}
            {% if show_sign_out() %}
            <li>
              <a>
                <form action='/signout' method="post">
                  <input id='signout' class='btn btn-default btn-xs' type='submit' value='Sign Out'>
                </form>
              </a>
            </li>
            {% endif %}
          </ul>
  	    </div>
  	  </div>
  	</nav>

  	<div class="container">
  	  <div class="row">

  	    <div class="col-sm-12">
  	      <h1 class="page-header">
  	      	{% if title %}
  	      	{{ title }}
  	      	{% else %}
  	      	PhamDB
  	      	{% endif %}
  	      </h1>

  	      {% if subtitle %}
  	      <h2 class="sub-header">{{ subtitle }}</h2>
  	      {% endif %}

          {% block content %}{% endblock %}
  	    </div>
  	  </div>
  	</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
