{% extends "base.html" %}
{% block content %}

<div id="react-content">
  <span class="glyphicon glyphicon-refresh large spinning"></span>
</div>
<script type="text/javascript">
  window.reactInitialState = {
    databaseId: {{ database.id|tojson }},
    name: {{ database.display_name|tojson }},
    cddSearch: {{ database.cdd_search|tojson }},
    description: {{ database.description|tojson }},
    isNameValid: true,
    phages: {{ phages|tojson }}
  };
</script>
<script type="text/jsx" src="/static/jsx/create-database-components.js"></script>
<script type="text/jsx" src="/static/jsx/create-database.js"></script>

{% endblock %}
